* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
    /* Свойства для сброса начальных стилей элементов */
}

body {
  font-family: "Inter", sans-serif;
  color: #303030;
}

header {
    /* Стили для хедера */
  font-family: "Inter", sans-serif;
  background-color: #2965f1;
  height: 70px;
  padding: 23px 0;
}

header span {
    /* Стили для текста в хедере IT-INCUBATOR */
  font-weight: 700;
  font-size: 20px;
  color: #fff;
}

.main-section {
    /* Стили для первой секции */
  height: 1024px;
  background-color: #fafaff;
}

.main-title {
    /* Стили для заголовка в первой секции */
  font-weight: 700;
  font-size: 48px;
  padding: 60px 0 20px 0;
}

.main-text {
    /* Стили для текста в первой секции */
  font-weight: 400;
  font-size: 18px;
}

.main-image {
    /* Стили для изображения в первой секции */
  width: 715px;
  /*height: 508px;*/
}

.about-section {
    /* Стили для второй секции */
  background-color: #fff;
  height: 883px;
  padding: 100px 0;
}

select {
    /* Стили для выпадающего списка */
  width: 150px;
  height: 36px;
  padding: 9px 87px 9px 12px;

  font-weight: 400;
  font-size: 16px;

  appearance: none;
  background: url("./assets/images/ep_arrow-down.svg") no-repeat right 10px top 50%;
}

.section-title {
    /* Стили для заголовков во второй секции */
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 25px;
}

.frameworks-list {
    /* Стили для маркированного списка во второй секции */
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;

  list-style-image: url("./assets/images/solar_map-arrow-up-bold.svg") ;
  padding-left: 22px;

}

.books-list {
    /* Стили для нумерованного списка во второй секции */
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding-left: 25px;
}

.label {
    /* Стили для подписей чекбоксов */
  font-weight: 400;
  font-size: 16px;

}

.text-field {
    /* Стили для односточного поля ввода текста */
  width: 464px;
  height: 36px;
  padding: 9px 215px 8px 12px;
  font-weight: 400;
  font-size: 16px;
  color: rgba(48, 48, 48, 0.2);
}

.btn {
    /* Стили для кнопки */
  border-radius: 5px;
  width: 125px;
  height: 36px;
  background-color: #2965f1;
  border: none;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  margin-left: 9px;
}

.line {
    /* Стили для линии */
  margin: 60px 0 ;
}

table {
    /* Стили для таблицы */
  width: 300px;
  height: 196px;
  border-collapse: collapse;
}

th, td {
    /* Стили для ячеек таблицы */
  padding: 10px;
  text-align: left;
  font-size: 14px;
}

footer {
    /* Стили для футера */
  height: 70px;
  background-color: rgba(163, 167, 255, 0.3);
  padding-top: 26px;
  padding-left: 1px;
}

.footer-link {
    /* Стили для футера */
  text-decoration: none;
  width: 78px;
  height: 17px;
  font-weight: 400;
  font-size: 14px;
  color: #2965f1;
}