* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
    /* Свойства для сброса начальных стилей элементов */
}

/*ВОПРОСЫ
1. ЧТО ДЕЛАТЬ С ШИРИНОЙ НУЖНО ЛИ ЕЁ ВООБЩЕ ПРОПИСЫВАТЬ
 */
body {}

header {
    /* Стили для хедера */
  font-family: "Inter", sans-serif;
  background-color: #2965f1;
  height: 70px;
  padding: 23px 0;
}

header span {
    /* Стили для текста в хедере IT-INCUBATOR */
  font-weight: 700;
  font-size: 20px;
  color: #fff;
}

.main-section {
    /* Стили для первой секции */
  height: 1024px;
  background-color: #fafaff;
}

.main-title {
    /* Стили для заголовка в первой секции */
  font-weight: 700;
  font-size: 48px;
  color: #303030;
  padding: 60px 0 20px 0;
}

.main-text {
    /* Стили для текста в первой секции */
  font-weight: 400;
  font-size: 18px;
  color: #303030;
}

.main-image {
    /* Стили для изображения в первой секции */
  width: 715px;
  /*height: 508px;*/
}

.about-section {
    /* Стили для второй секции */
  background-color: #fff;
  height: 883px;
  padding: 100px 0;
}

select {
    /* Стили для выпадающего списка */
  
}

.section-title {
    /* Стили для заголовков во второй секции */
}

.frameworks-list {
    /* Стили для маркированного списка во второй секции */
}

.books-list {
    /* Стили для нумерованного списка во второй секции */
}

.label {
    /* Стили для подписей чекбоксов */
}

.text-field {
    /* Стили для односточного поля ввода текста */
}

.btn {
    /* Стили для кнопки */
}

.line {
    /* Стили для линии */
}

table {
    /* Стили для таблицы */
}

th, td {
    /* Стили для ячеек таблицы */
}

footer {
    /* Стили для футера */
}

.footer-link {
    /* Стили для футера */
}